@using GL.FC.Shared;
@model UserProfileModel;
@{
    ViewData["Title"] = "Profile view";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">User profile</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        @{ UserHealthModel currentHealthInfo = Model.UserHealthDetails.OrderByDescending(a => a.CreationDate).Take(1).FirstOrDefault() ?? new UserHealthModel(); }

                        <img class="profile-user-img img-responsive img-circle" src="/@Model.ImagePath" alt="User profile picture">

                        <h3 class="profile-username text-center">@Model.Name</h3>

                        <p class="text-muted text-center">Member since @Model.JoiningDate.ToString("dd/MM/yyyy")</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Gender </b> <a class="pull-right">@Model.Gender</a>
                            </li>
                            <li class="list-group-item">
                                <b>Age</b> <a class="pull-right">@Model.Age</a>
                            </li>
                            <li class="list-group-item">
                                <b>Weight</b> <a class="pull-right">@currentHealthInfo.Weight kg</a>
                            </li>
                            <li class="list-group-item">
                                <b>Height</b> <a class="pull-right">@currentHealthInfo.Height cms</a>
                            </li>
                            <li class="list-group-item">
                                <b>Abdomen</b> <a class="pull-right">@currentHealthInfo.Abdomen cms</a>
                            </li>
                            <li class="list-group-item">
                                <b>Neck</b> <a class="pull-right">@currentHealthInfo.Neck cms</a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block"><b>Edit Profile</b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- About Me Box -->
                <div class="box box-primary">

                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong><i class="fa fa-pencil margin-r-5"></i> About me</strong>

                        <p class="text-muted">
                            B.S. in Computer Science from the University of Tennessee at Knoxville
                        </p>

                        <hr>

                        <strong><i class="fa fa-heartbeat margin-r-5"></i> Why I want to get in shape</strong>

                        <p class="text-muted">Dummy</p>

                        <hr>

                        <strong><i class="fa fa-user-plus margin-r-5"></i> My Inspiration</strong>

                        <p>No one</p>
                        <hr />

                        <strong><i class="fa fa-users margin-r-5"></i> Friends</strong>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-8">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
                        <!--TO-DO need better name suggestion for this one-->
                        <li><a href="#settings" data-toggle="tab">Set your current health</a></li>
                    </ul>
                    <div class="tab-content">

                        <div class="active tab-pane" id="timeline">
                            <!-- The timeline -->
                            <ul class="timeline">
                                @foreach (var item in Model.UserHealthDetails.OrderByDescending(a => a.CreationDate).ToList())
                                {
                                    <!-- timeline time label -->
                                    <li class="time-label">
                                        <span class="bg-purple">
                                            @item.CreationDate.Value.ToString("dd-MMM-yyyy")
                                        </span>
                                    </li>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-child bg-light-blue-gradient text-warning"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-watch-fitness"></i> @item.CreationDate.Value.ToString("hh:mm tt")</span>
                                            <h3 class="timeline-header"><a href="#">You have entered</a></h3>
                                            <div class="timeline-body">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <b>Weight: </b>@item.Weight Pound
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <b>Height: </b> @item.Height Inch
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <b>Abdomen: </b>@item.Abdomen cms
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <b>Neck: </b>@item.Neck Inches
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <!-- END timeline item -->

                                }
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="settings">
                            <form asp-action="SaveUserHealthInformation" asp-controller="home" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Weight</label>

                                    <div class="col-sm-10">
                                        <input type="text" name="Weight" class="form-control" placeholder="Eg: 70 pound">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Height</label>

                                    <div class="col-sm-10">
                                        <input type="text" name="Height" class="form-control" placeholder="Eg: 170cm">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Abdomen</label>

                                    <div class="col-sm-10">
                                        <input type="text" name="Abdomen" class="form-control" placeholder="Eg: 70kg">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Neck</label>

                                    <div class="col-sm-10">
                                        <input type="text" name="Neck" class="form-control" placeholder="Eg: 170cm">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
