@using GL.FC.Shared;
@model UserProfileModel;
@{
    ViewData["Title"] = "Profile view";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        @*<h1>
            User Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">User profile</li>
        </ol>*@
        <partial name="Components/sliderQuote" />
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-5">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#memberinfo" data-toggle="tab">Member Information</a></li>
                            <li><a href="#financial" data-toggle="tab">Financial</a></li>
                            <li><a href="#relatedacc" data-toggle="tab">Related Accounts</a></li>
                        </ul>
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="active tab-pane" id="memberinfo">
                                    <!-- Profile Image -->
                                    @{ UserHealthModel currentHealthInfo = Model.UserHealthDetails.OrderByDescending(a => a.CreationDate).Take(1).FirstOrDefault() ?? new UserHealthModel(); }
                                    @*<img class="profile-user-img img-responsive img-circle" src="/@Model.ImagePath" alt="User profile picture">*@

                                    @*<h3 class="profile-username text-center">@Model.Name</h3>*@

                                    @*<p class="text-muted text-center"><i class="fa fa-circle text-success"></i> Member since @Model.JoiningDate.ToString("dd/MM/yyyy")</p>*@
                                    <div class="box box-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-aqua-active">
                                            <h3 class="widget-user-username">@Model.Name</h3>
                                            <h5 class="widget-user-desc"><i class="fa fa-circle text-success"></i> Member since @Model.JoiningDate.ToString("dd/MM/yyyy")</h5>
                                            @*<h5 class="widget-user-desc">Founder &amp; CEO</h5>*@
                                        </div>
                                        <div class="widget-user-image">
                                            @*<img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">*@
                                            <img class="profile-user-img img-responsive img-circle" src="/@Model.ImagePath" alt="User profile picture">
                                        </div>
                                        <div class="box-footer">
                                            <div class="row">
                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">184</h5>
                                                        <span class="description-text"><a href="#">Friends</a></span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-sm-4 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header">285</h5>
                                                        <span class="description-text"><a href="#">FOLLOWERS</a></span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-sm-4">
                                                    <div class="description-block">
                                                        <h5 class="description-header">305</h5>
                                                        <span class="description-text"><a href="#">Following</a></span>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-unbordered">
                                        <li class="list-group-item">
                                            <b>Gender</b> <a class="pull-right">@Model.Gender</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Status</b> <a class="pull-right">Active</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Last Check in</b> <a class="pull-right">05/03/2021</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Weight</b> <a class="pull-right">@currentHealthInfo.Weight kg</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Height</b> <a class="pull-right">@currentHealthInfo.Height cms</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Abdomen</b> <a class="pull-right">@currentHealthInfo.Abdomen cms</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Neck</b> <a class="pull-right">@currentHealthInfo.Neck cms</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.box-body -->
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="financial">
                                    <!-- Profile Image -->
                                    <img class="profile-user-img img-responsive img-circle" src="/@Model.ImagePath" alt="User profile picture">

                                    <h3 class="profile-username text-center">@Model.Name</h3>

                                    <p class="text-muted text-center"><i class="fa fa-circle text-success"></i> Member since @Model.JoiningDate.ToString("dd/MM/yyyy")</p>

                                    <ul class="list-group list-group-unbordered">
                                        <li class="list-group-item">
                                            <b>Billing Group</b> <a class="pull-right">28th</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Subscription</b>
                                            <ul class="list-unstyled pull-right">
                                                <li><b>Personal Training,Camping</b></li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Correspond By</b>
                                            <ul class="list-unstyled pull-right">
                                                <li><b>Letter(Billing Address)</b></li>
                                            </ul>
                                        </li>
                                        <li class="list-group-item box">
                                            <b>Draft By</b>
                                            <div class="box-body table-responsive no-padding box-body">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-bold">Draft By</td>
                                                            <td>Bank Draft</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-bold">Account Number</td>
                                                            <td>123456789</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-bold">Aba Number</td>
                                                            <td>121000248</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.box-body -->
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="relatedacc">
                                    <img class="profile-user-img img-responsive img-circle" src="/@Model.ImagePath" alt="User profile picture">

                                    <h3 class="profile-username text-center">@Model.Name</h3>

                                    <p class="text-muted text-center"><i class="fa fa-circle text-success"></i> Member since @Model.JoiningDate.ToString("dd/MM/yyyy")</p>

                                    <ul class="list-group list-group-unbordered">
                                        <li class="list-group-item" data-toggle="modal" data-target="#erica">
                                            <b>Erica Nicholson</b> <a class="pull-right">Spouse</a>
                                        </li>
                                        <li class="list-group-item" data-toggle="modal" data-target="#ryan">
                                            <b>Ryan Nicholson</b> <a class="pull-right">Child</a>
                                        </li>
                                        <li class="list-group-item" data-toggle="modal" data-target="#john">
                                            <b>John Nicholson</b> <a class="pull-right">Child</a>
                                        </li>
                                    </ul>                                    
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                    </div>
                    <!-- Profile Image -->
                    <!-- /.box -->
                    <!-- About Me Box -->
                    <div class="box box-primary">

                        <!-- /.box-header -->
                        <div class="box-body">
                            <strong><i class="fa fa-pencil margin-r-5"></i> About me</strong>

                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>

                            <hr>

                            <strong><i class="fa fa-heartbeat margin-r-5"></i> Why I want to get in shape</strong>

                            <p class="text-muted">It pays off. The sweat. The time. The tears. The devotion.</p>

                            <hr>

                            <strong><i class="fa fa-user-plus margin-r-5"></i> My Inspiration</strong>

                            <p>Myself</p>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->                
            </div>
            <!-- /.col -->
            <div class="col-md-7">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
                        <!--TO-DO need better name suggestion for this one-->
                        <li><a href="#settings" data-toggle="tab">Set your current measurement</a></li>
                    </ul>
                    <div class="tab-content">

                        <div class="active tab-pane" id="timeline">
                            <!-- The timeline -->
                            <ul class="timeline">
                                @foreach (var item in Model.UserHealthDetails.OrderByDescending(a => a.CreationDate).ToList())
                                {
                                    <!-- timeline time label -->
                                    <li class="time-label">
                                        <span class="bg-purple">
                                            @item.CreationDate.Value.ToString("dd-MMM-yyyy")
                                        </span>
                                    </li>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-child bg-light-blue-gradient text-warning"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-watch-fitness"></i> @item.CreationDate.Value.ToString("hh:mm tt")</span>
                                            <h3 class="timeline-header"><a href="#">You have entered</a></h3>
                                            <div class="timeline-body">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <b>Weight: </b>@item.Weight Kg
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <b>Height: </b> @item.Height cms
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <b>Abdomen: </b>@item.Abdomen cms
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <b>Neck: </b>@item.Neck cms
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <!-- END timeline item -->

                                }
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="settings">
                            <form asp-action="SaveUserHealthInformation" asp-controller="home" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Weight</label>

                                    <div class="col-sm-10">
                                        <input type="text" name="Weight" class="form-control" placeholder="Eg: 70 kg">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Height</label>

                                    <div class="col-sm-10">
                                        <input type="text" name="Height" class="form-control" placeholder="Eg: 170 cms">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Abdomen</label>

                                    <div class="col-sm-10">
                                        <input type="text" name="Abdomen" class="form-control" placeholder="Eg: 70 cms">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Neck</label>

                                    <div class="col-sm-10">
                                        <input type="text" name="Neck" class="form-control" placeholder="Eg: 170 cms">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
            <!-- /.row -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div class="modal fade in" id="erica" style="padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Erica Nicholson</h4>
            </div>
            <div class="modal-body">
                <div class="box-body box-profile">
                    @*<img class="profile-user-img img-responsive img-circle" src="~/static/dist/img/user4-128x128.jpg" alt="User profile picture">*@
                    <div class="row text-center">
                        <i class="fa fa-female profile-user-img img-responsive img-circle text-blue" style="font-size:100px"></i>
                    </div>
                    <p class="text-muted text-center"><i class="fa fa-circle text-success"></i> Member since 03/06/2019</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Gender</b> <a class="pull-right">Female</a>
                        </li>
                        <li class="list-group-item">
                            <b>Status</b> <a class="pull-right">Active</a>
                        </li>
                        <li class="list-group-item">
                            <b>Last Check in</b> <a class="pull-right">05/03/2021</a>
                        </li>
                        <li class="list-group-item">
                            <b>Weight</b> <a class="pull-right">230 lbs</a>
                        </li>
                        <li class="list-group-item">
                            <b>Height</b> <a class="pull-right">155 cms</a>
                        </li>
                        <li class="list-group-item">
                            <b>Abdomen</b> <a class="pull-right">0 cms</a>
                        </li>
                        <li class="list-group-item">
                            <b>Neck</b> <a class="pull-right">0 cms</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade in" id="ryan" style="padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Ryan Nicholson</h4>
            </div>
            <div class="modal-body">
                <div class="box-body box-profile">
                    <div class="row text-center">
                        <i class="fa fa-child profile-user-img img-responsive img-circle text-aqua" style="font-size:100px"></i>
                    </div>

                    <p class="text-muted text-center"><i class="fa fa-circle text-success"></i> Member since 09/21/2020</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Gender</b> <a class="pull-right">Male</a>
                        </li>
                        <li class="list-group-item">
                            <b>Status</b> <a class="pull-right">Active</a>
                        </li>
                        <li class="list-group-item">
                            <b>Last Check in</b> <a class="pull-right">05/03/2021</a>
                        </li>
                        <li class="list-group-item">
                            <b>Weight</b> <a class="pull-right">230 lbs</a>
                        </li>
                        <li class="list-group-item">
                            <b>Height</b> <a class="pull-right">155 cms</a>
                        </li>
                        <li class="list-group-item">
                            <b>Abdomen</b> <a class="pull-right">0 cms</a>
                        </li>
                        <li class="list-group-item">
                            <b>Neck</b> <a class="pull-right">0 cms</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade in" id="john" style="padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">John Nicholson</h4>
            </div>
            <div class="modal-body">
                <div class="box-body box-profile">
                    <div class="row text-center">
                        <i class="fa fa-child profile-user-img img-responsive img-circle text-red" style="font-size:100px"></i>
                    </div>

                    <p class="text-muted text-center"><i class="fa fa-circle text-success"></i> Member since 03/23/2020</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Gender</b> <a class="pull-right">Male</a>
                        </li>
                        <li class="list-group-item">
                            <b>Status</b> <a class="pull-right">Active</a>
                        </li>
                        <li class="list-group-item">
                            <b>Last Check in</b> <a class="pull-right">05/03/2021</a>
                        </li>
                        <li class="list-group-item">
                            <b>Weight</b> <a class="pull-right">180 lbs</a>
                        </li>
                        <li class="list-group-item">
                            <b>Height</b> <a class="pull-right">125 cms</a>
                        </li>
                        <li class="list-group-item">
                            <b>Abdomen</b> <a class="pull-right">0 cms</a>
                        </li>
                        <li class="list-group-item">
                            <b>Neck</b> <a class="pull-right">0 cms</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>