@using System.Security.Claims;
@model IList<GL.FC.Shared.PostModel>
@{
    ViewData["Title"] = "Fitness Connect";
}
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="~/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />
<link href="~/static/dist/css/dropzone.min.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Fitness Connect
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Connect</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-10">
                <form asp-action="connect" asp-controller="Post" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                    <div class="box box-warning">
                        <div class="box-body">
                            <!-- Custom Tabs -->
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab" class="text-blue"><i class="fa fa-pencil"></i> Create a post</a></li>
                                    <li><a href="#tab_2" data-toggle="tab" class="text-navy"><i class="fa fa-photo"></i> Photo Album</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <textarea name="Description" class="richtextbox" placeholder="Place some text here" style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                    </div>
                                    <div class="tab-pane" id="tab_2">
                                        <div class="dropzone" style="height:100px">
                                            <input name="Files" id="UploadForm" type="file" multiple />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <b> Select Category</b>
                                @foreach (var item in ((IList<GL.FC.Shared.CategoryModel>)ViewBag.CategoryList).Select((value, i) => new { i, value }))
                                {
                                    <label class="radio-inline">
                                        <input type="radio" name="CategoryId" value="@item.value.Id" @(item.i == 0 ? "checked" : string.Empty)>@item.value.Title
                                    </label>
                                }
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn bg-purple-gradient pull-right">Publish</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <div class="box box-primary">
                    <div class="box-body">
                        @foreach (var item in Model)
                        {
                            <!-- Post -->
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="/@item.CreatedByUser.ImagePath" alt="user image">
                                    <span class="username">
                                        <a href="#">@item.CreatedByUser.Name</a>
                                    </span>

                                    @if (User.FindFirst("Id").Value.Equals(item.CreatedByUser.Id.ToString()))
                                    {
                                        <form asp-action="Delete" asp-controller="Post" asp-antiforgery="true">
                                            <input type="hidden" value="@item.Id" />
                                            <button type="submit" class="pull-right btn btn-xs btn-box-tool label bg-red" style="margin-left:15px">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    }
                                    <span class="username">
                                        <a href="#" class="pull-right">
                                            <span class="pull-right-container"><b class="label pull-right bg-@item.Category.BgColor">@item.Category.Title</b></span>
                                        </a>
                                    </span>
                                    <span class="description">Shared publicly - @item.CreationDate.Value.ToString("dd/MM/yyyy") </span>
                                </div>
                                @if (item.PostImages != null && item.PostImages.Count > 0)
                                {
                                    if (item.PostImages.Count > 1)
                                    {
                                        <div id="myCarousel_@item.Id" class="carousel slide" data-bs-ride="carousel">
                                            <ol class="carousel-indicators">
                                                @foreach (var slider in item.PostImages.Select((value, i) => new { i, value }))
                                                {
                                                    <li data-target="#myCarousel__@item.Id" data-slide-to="@slider.i" class=" @(slider.i==0?"active":"")"></li>
                                                }
                                            </ol>
                                            <div class="carousel-inner">
                                                @foreach (var slider in item.PostImages.Select((value, i) => new { i, value }))
                                                {
                                                    <div class="item @(slider.i==0?"active":"")">
                                                        <img src="/Uploads/posts/@slider.value.ImagePath" class="d-block w-100" alt="...">
                                                    </div>

                                                }
                                            </div>
                                            <!-- Left and right controls -->
                                            <a class="left carousel-control" href="#myCarousel_@item.Id" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#myCarousel_@item.Id" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <img class="img-responsive pad" src="/uploads/posts/@item.PostImages.FirstOrDefault().ImagePath" alt="Photo">
                                    }
                                }

                                <!-- /.user-block -->
                                <p>
                                    @Html.Raw(item.Description)
                                </p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="javascript:void" onclick="Like(@item.Id)" id="like-btn-@item.Id"
                                           class="text-sm ">
                                            <i class="fa fa-heart  margin-r-5 @( item.LikesList.Any(a=>a.LikedById == Convert.ToInt32(User.FindFirst("Id").Value))?"text-red":"text-grey")"
                                               style="font-size:1.5em;text-shadow: 1px 1px 1px #ccc;"></i>
                                            <span id="like-count-@item.Id">@item.LikesList.Count</span>  People liked
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void" onclick="OpenCommentPopup(@item.Id)" class="link-black text-sm">
                                            <i class="fa fa-comments-o margin-r-5" style="font-size:1.5em;text-shadow: 1px 1px 1px #ccc;"></i>
                                        </a>
                                        <br />
                                    </li>
                                </ul>
                                @if (item.CommentList.Count > 0)
                                {
                                    foreach (var comment in item.CommentList)
                                    {
                                        <div class="box-comments">
                                            <div class="box-comment">
                                                <!-- User image -->
                                                <img class="img-circle img-sm" src="/@comment.CommentedBy.ImagePath" alt="User Image">

                                                <div class="comment-text">
                                                    <span class="username">
                                                        @comment.CommentedBy.Name
                                                        <span class="text-muted pull-right">@comment.CreationDate.Value.ToString("dd-MM-yyyy hh:mm tt")</span>
                                                    </span><!-- /.username -->
                                                    @comment.Description
                                                </div>
                                                <!-- /.comment-text -->
                                            </div>
                                        </div>
                                    }

                                }

                                <!-- /.box-comment -->
                                <div id="comment-form-@item.Id" style="display:none;">
                                    <form asp-action="Comment" asp-controller="Post" method="post">
                                        <input type="hidden" value="@item.Id" name="postId" />
                                        <input class="form-control" name="description" type="text" placeholder="Type a comment">
                                        <button type="submit" class="btn bg-purple-gradient btn-sm" style="margin-top:14px"><i class="fa fa-pencil"></i> Publish</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.post -->
                        }

                    </div>
                </div>
            </div>
        </div>
        <!-- /.tab-pane -->
    </section>
</div>

@section Scripts
{
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/static/dist/js/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        $(".richtextbox").wysihtml5({
            "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
            "emphasis": true, //Italics, bold, etc. Default true
            "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
            "html": false, //Button which allows you to edit the generated HTML. Default false
            "link": true, //Button to insert a link. Default true
            "image": false, //Button to insert an image. Default true,
            "color": false, //Button to change color of font
            "blockquote": true, //Blockquote
            "size": "sm" //default: none, other options are xs, sm, lg
        });
        $(document).ready(function () {
            Dropzone.options.UploadForm = {
                dictDefaultMessage: "Drag your images",
                clickable: true,
                enqueueForUpload: true,
                maxFilesize: 1,
                uploadMultiple: false,
                addRemoveLinks: true
            };
        })
        function Like(postid) {
            $("#like-btn-" + postid).find('i').toggleClass('text-red');
            var jsonResult = {
                postId: postid
            }
            $.ajax({
                method: "POST",
                data: jsonResult,
                url: "/post/like", success: function (result) {
                    $(this).find('i').toggleClass('fa-plus-circle fa-minus-circle');

                    if (result == "add")
                        $("#like-count-" + postid).text(parseInt($("#like-count-" + postid).text()) + 1);
                    else
                        $("#like-count-" + postid).text(parseInt($("#like-count-" + postid).text()) - 1);
                }
            });
        }

        function OpenCommentPopup(postId) {
            $("#comment-form-" + postId).slideToggle("slow", function () {
                // Animation complete.
            });
        }
    </script>
}