@using GL.FC.Shared;
@model UserProfileModel;

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="~/static/dist/css/dashboardform.css" rel="stylesheet" />
<!-- Morris charts -->
<link rel="stylesheet" href="~/static/plugins/morris/morris.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @if (Model.UserHealthDetails.Count > 0)
    {
        <!-- Main content -->
        <section class="content">
            @{ UserHealthModel currentHealthInfo = Model.UserHealthDetails.OrderByDescending(a => a.CreationDate).Take(1).FirstOrDefault(); }
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua-gradient">
                        <div class="inner">
                            <h3>
                                @(HealthUtility.CalculateBMR(currentHealthInfo.UserProfile.Gender,
                                currentHealthInfo.Weight, currentHealthInfo.Height,
                                currentHealthInfo.UserProfile.Age).ToString("0.00") )
                            </h3>

                            <p>BMR</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-calculator"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green-gradient">
                        <div class="inner">
                            <h3>@(HealthUtility.CalculateBMI(currentHealthInfo.Weight, currentHealthInfo.Height).ToString("0.00"))</h3>

                            <p>BMI</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file-medical-alt"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>@(HealthUtility.CalculateCalories(currentHealthInfo).ToString("0.00"))</h3>

                            <p>Calorie </p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-heartbeat"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-blue-gradient">
                        <div class="inner">
                            <h3>@(HealthUtility.CalCulateFat(currentHealthInfo.Abdomen,currentHealthInfo.Neck,currentHealthInfo.Height).ToString("0.00"))</h3>

                            <p>Fat</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-walking"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-maroon-gradient">
                        <div class="inner">
                            <h3>@((currentHealthInfo.Weight).ToString("0.00"))</h3>

                            <p>Weight (kg)</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-weight"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>@((HealthUtility.IdealWeight(currentHealthInfo.Height,currentHealthInfo.Weight,currentHealthInfo.UserProfile.Gender)).ToString("0.00"))</h3>

                            <p>Idle Weight (lbs)</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-trophy"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Body Weight Graph</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="weight-chart" style="height: 300px;"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="box box-solid bg-light-blue-gradient">
                        <div class="box-header">
                            <i class="fa fa-calendar"></i>
                            <h3 class="box-title">Calendar</h3>
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <!-- button with a dropdown -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><button id="addBtn" class="btn btn-default btn-block btn-flat">Add new event</button></li>
                                        <li><button id="removeBtn" class="btn btn-default btn-block btn-flat">Clear events</button></li>
                                        @*<li class="divider"></li>
                                           <li><a href="#">View calendar</a></li>*@
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-success btn-sm" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-sm" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <!-- /. tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <partial name="Components/EventCalendar" />
                        </div>
                        <div class="box-footer text-black">
                            <div class="row">
                                <div class="col-sm-12 box-body" id="external-events">
                                    
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-6" style="display:none">
                                    <div class="clearfix">
                                        <span class="pull-left">Task #3</span>
                                        <small class="pull-right">60%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                                    </div>

                                    <div class="clearfix">
                                        <span class="pull-left">Task #4</span>
                                        <small class="pull-right">40%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                            <!-- /.nav-tabs-custom -->
                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-5 connectedSortable">

                    <!-- Calendar -->
                    <div class="box box-solid bg-green-gradient" style="display:none">
                        <div class="box-header">
                            <i class="fa fa-calendar"></i>

                            <h3 class="box-title">Calendar</h3>
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <!-- button with a dropdown -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Add new event</a></li>
                                        <li><a href="#">Clear events</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">View calendar</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-success btn-sm" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-sm" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <!-- /. tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <!--The calendar -->
                            <div id="calendar" style="width: 100%"></div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-black">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Progress bars -->
                                    <div class="clearfix">
                                        <span class="pull-left">Task #1</span>
                                        <small class="pull-right">90%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                                    </div>

                                    <div class="clearfix">
                                        <span class="pull-left">Task #2</span>
                                        <small class="pull-right">70%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-6">
                                    <div class="clearfix">
                                        <span class="pull-left">Task #3</span>
                                        <small class="pull-right">60%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                                    </div>

                                    <div class="clearfix">
                                        <span class="pull-left">Task #4</span>
                                        <small class="pull-right">40%</small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.box -->
                    <!-- TO DO List -->
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>

                            <h3 class="box-title">To Do List</h3>

                            <div class="box-tools pull-right">
                                <ul class="pagination pagination-sm inline">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="height:265px">
                            <ul class="todo-list">
                                <!--<li>-->
                                <!-- drag handle -->
                                <!--<span class="handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </span>-->
                                <!-- checkbox -->
                                <!--<input type="checkbox" value="">-->
                                <!-- todo text -->
                                <!--<span class="text">Sprint Walk</span>-->
                                <!-- Emphasis label -->
                                <!--<small class="label label-danger"><i class="fa fa-clock-o"></i> 30 mins</small>-->
                                <!-- General tools such as edit or delete-->
                                <!--<div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                </li>
                <li>
                    <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <input type="checkbox" value="">
                    <span class="text">Squats</span>
                    <small class="label label-info"><i class="fa fa-clock-o"></i> 30 Seconds</small>
                    <div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                </li>
                <li>
                    <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <input type="checkbox" value="">
                    <span class="text">No Sugar Day</span>
                    <small class="label label-warning"><i class="fa fa-clock-o"></i> 1 day</small>
                    <div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                </li>
                <li>
                    <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <input type="checkbox" value="">
                    <span class="text">Meditation</span>
                    <small class="label label-success"><i class="fa fa-clock-o"></i> 30 minutes</small>
                    <div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                </li>
                <li>
                    <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <input type="checkbox" value="">
                    <span class="text">Swimming</span>
                    <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 hour</small>
                    <div class="tools">
                        <i class="fa fa-edit"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                </li>
                <li>
                    <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <input type="checkbox" value="">
                    <span class="text" id="content5">Gym</span>
                    <small class="label label-default"><i class="fa fa-clock-o"></i> 1 hour</small>
                    <div class="tools">
                        <i class="fa fa-edit" id="editItem5"></i>
                        <i class="fa fa-trash-o"></i>
                    </div>
                </li>-->
                            </ul>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix no-border">
                            <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
                        </div>
                    </div>
                    <!-- /.box -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Quick Links</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item">
                                    <div class="product-img">
                                        <i class="fa fa-user text-aqua" style="font-size:40px"></i>
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript:void(0)" class="product-title">
                                            Account Summary
                                        </a>
                                        <span class="product-description">
                                            Member's Account Information
                                        </span>
                                    </div>
                                </li>
                                <!-- /.item -->
                                <li class="item">
                                    <div class="product-img">
                                        <i class="fa fa-key text-aqua" style="font-size:40px"></i>
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript:void(0)" class="product-title">
                                            Scheduler                                   
                                        </a>
                                        <span class="product-description">
                                            Schedule for Event
                                        </span>
                                    </div>
                                </li>
                                <!-- /.item -->
                                <li class="item">
                                    <div class="product-img">
                                        <i class="fa fa-lock text-aqua" style="font-size:40px"></i>
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript:void(0)" class="product-title">View/Rent Locker</a>
                                        <span class="product-description">
                                            View Rent Locker
                                        </span>
                                    </div>
                                </li>
                                <!-- /.item -->
                                <li class="item">
                                    <div class="product-img">
                                        <i class="fa fa-id-badge text-aqua" style="font-size:40px"></i>
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript:void(0)" class="product-title">
                                            Program Registration                                         
                                        </a>
                                        <span class="product-description">
                                            Register for Program
                                        </span>
                                    </div>
                                </li>
                                <!-- /.item -->
                            </ul>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <a href="javascript:void(0)" class="uppercase">View All Links</a>
                        </div>
                        <!-- /.box-footer -->
                    </div>

                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    }
    else
    {
        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row s-f-form">
                <div class="dashboard-container">
                    <h2 class="title">Fill the basic information</h2>
                    <div class="header"><span class="active"></span><span></span><span></span></div>
                    <div class="fields">
                        <form asp-action="SaveUserHealthInformation" asp-controller="home" method="post">
                            <div class="modal-body 1step is-showing">
                                <div class="title">Step 1</div>
                                <div class="description">Fill your details.</div>
                                <input type="number" name="Height" placeholder="Height in cms" />
                                <input type="number" name="Weight" placeholder="Weight in kg" />

                                <div class="text-center">
                                    <div class="button">Start</div>
                                </div>
                            </div>
                            <div class="modal-body 2step">
                                <div class="title">Step 2</div>
                                <input type="number" name="Abdomen" placeholder="Abdomen in cms" />
                                <input type="number" name="Neck" placeholder="Neck in cms" />
                                <div class="text-center fade-in">
                                    <div class="button">Next</div>
                                </div>
                            </div>
                            <div class="modal-body 3step">
                                <div class="title">Step 3</div>
                                <div class="description">Thanks For Share </div>
                                <div class="text-center">
                                    <button type="submit" class="button">Done!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    <div class="reStart">Restart</div>
                </div>
            </div>
        </section>
    }

</div>
<!-- /.content-wrapper -->



@section Scripts
{
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/static/dist/js/dashboardform.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/static/plugins/morris/morris.min.js"></script>

    <script>
    $(function () {
        "use strict";

        var healthData = [];
        @foreach (var item in Model.UserHealthDetails.Select((value, i) => new { i, value }).ToList())
            {
                @:healthData.push({ dates: '@(item.value.CreationDate.Value.ToString("yyyy-MM-dd"))', item1: @item.value.Weight + 'Kg'})
            }
        // AREA CHART
        var area = new Morris.Area({
            element: 'weight-chart',
            resize: true,
            data: healthData,
            xkey: 'dates',
            ykeys: ['item1'],
            labels: ['Weight'],
            lineColors: ['#a0d0e0'],
            hideHover: 'auto'
        });
        

        var tododata = [
            { 'task': 'Sprint Walk', 'time': '30 mins','alert':'success' },
            { 'task': 'Planks', 'time': '30 seconds','alert':'danger' },
            { 'task': 'No Sugar Day', 'time': '24 hrs','alert':'warning' },
            { 'task': 'Meditation', 'time': '30 mins','alert':'danger' },
            { 'task': 'Swimming', 'time': '30 mins','alert':'warning' },
        ];


        $.each(tododata, function (i, item) {
            var todoitems = '<li><span class="handle"><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>';
            todoitems += '<input type = "checkbox" value=""><span class="text todospan">'+item.task+'</span><input type="text" class="todotext" value="" style="display:none"/>';
            todoitems += '<small class="label label-'+item.alert+'"><i class="fa fa-clock-o"></i> '+item.time+'</small><div class="tools">';
            todoitems += '<i class="fa fa-edit editItem"></i><i class="fa fa-trash-o"></i></div></li>';
            $('.todo-list').append(todoitems);
        });
        $('.editItem').click(function () {
            if ($(this).hasClass('fa-edit')) {
                var span = $(this).closest('li').find('.todospan');                
                span.hide();
                var textbox = $(this).closest('li').find('.todotext');
                textbox.val(span.text())
                textbox.show();
                $(this).removeClass('fa-edit').addClass('fa-save');
            }
            else {
                var element = $(this).closest('li').find('.todospan');
                element.text(element.closest('li').find('.todotext').val())
                element.show();
                element.siblings('.todotext').hide();
                $(this).removeClass('fa-save').addClass('fa-edit');
            }
        });
    })
    </script>
    <script src="~/static/event-calendar/js/evo-calendar.min.js"></script>
    <script src="~/static/event-calendar/demo/demo.js"></script>

}
